<!doctype html>

<html>

<head>
	<title>MentorApp</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>

<body>
		<div class="jumbotron">
			<a href="/"><img class="img"></a>
			<h1>MentorApp</h1>
			<p>Find a Mentor &middot; Find a Mentee </p>
		</div>

<div class="container">

<!-- DROPDOWN STARTS -->
<div class="dropdown">
  <h1 class="header">I am looking for a...<button class="btn btn-default dropdown-toggle" id="selectBtn" type="button" data-toggle="dropdown"><font size="3"color="black">Select</font><span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#" id="mentor" onclick="displayMentors();">Mentor</a></li>
    <li><a href="#" id="mentee" onclick="displayMentees();">Mentee</a></li>
  </ul>
</h1>
</div>
<!-- DROPDOWN ENDS -->

</br>


<center><h4>MATCHES:</h4></center>

{{#if carousel}}
<div class="carousel-inner" role="listbox">

{{#each matchesList}}

	<div class="item">
<div class="card" id="carouselCard">
<div class="avatar" style="float:left">
<a href="project/{{name}}" class="thumbnail" id="clickTest"><img src="{{image}}" alt="" /></a>
</div>

<div class="content">
			<a href="project/{{name}}" class="thumbnail">
							<font color="black"><h3>{{name}}</h3></font>
								<p>Web Developer <br>
									{{major}}</p></a>
						<p><a href="messages/viewmessages/{{name}}" class="btn btn-default center-block">Message</a></p>

<br>

<div class="description" style="float:left">
<a href="project/{{name}}" class="thumbnail">
<font color="black"><p>{{description}}</p></font></a>
						</div>
				</div>
	</div>
</div>
{{/each}}
<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	<span class="sr-only">Next</span>
</a>
</div>
</div>
</div>
{{else}}
{{#each matchesList}}

<div class="card" id="{{status}}">


                <div class="avatar">
                    <a href="project/{{name}}" class="thumbnail" id="clickTest" style="float:left"><img src="{{image}}" alt="" /></a>
                </div>

                <div class="content">

                    <a href="project/{{name}}" class="thumbnail" id="clickTest">

                      <font color="black"><h3>{{name}}</h3></font>
                      <p>Web Developer <br>
                       {{major}}</p></a>

                    <p><a href="messages/viewmessages/{{name}}" class="btn btn-default" id="messagebtn">Message</a></p>
                </div>
            </div>
</br>

{{/each}}
{{/if}}






<!-- NAV STARTS HERE -->
<div id="nav">

<li><img src="images/backarrow.png" alt="Back image" class="backimg"></li>
<li><a href="/"><img src="images/homeicon.png" alt="Home image" class="homeimg"></a></li>
<li><a href="messages/"><img src="images/messageIcon.png" alt="Message image" class="mailimg"></a></li>
<li><a href="settings/"><img src="images/settings.png" alt="Settings image" class="settingsimg"></a></li>
<li><a href="FAQ/">FAQ</a></li>

</div>
<!-- NAV ENDS HERE -->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
  <script src="/js/introHCI.js"></script>
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92540524-3', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
